<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/views/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/views/js/bootstrap.min.js"></script>
        <link href="/views/admin/css/style.css" rel="stylesheet" type="text/css">
        <link href="/views/admin/css/checkbox.css" rel='stylesheet' type="text/css">
        <script type="text/javascript" src="/views/js/datajs.js"></script>
        <title>Редактирование брендов</title>
        <script>
            function getNavTabLi(Obj)
            {
                return $('<li data-id="' + Obj.id + '">' +
                        '<a href="#section' + Obj.id + '" data-toggle="tab">' + Obj.name + '</a>' +
                        '</li>');

            }
            function getSectionSection(Obj)
            {
                return $('<div class="tab-pane" id="section' + Obj.id + '">' +
                        '<div class="section"></div>' +
                        '</div>');
            }
            function getSectionBrend(Obj)
            {
                status = Obj.status === 1 ? "checked" : "";
                return $('<div class="brendcontainer" data-id="' + Obj.id + '">' +
                        '<div class="row">' +
                        '<div class="col-md-12">' +
                        '<form class="form-horizontal" role="form">' +
                        '<div class="form-group">' +
                        '<div class="col-sm-2">' +
                        '<input type="text" class="form-control" placeholder="id" disabled="" value="' + Obj.id + '">' +
                        '</div>' +
                        '<div class="col-sm-5">' +
                        '<input type="text" class="form-control" placeholder="Название бренда" value="' + Obj.name + '">' +
                        '</div>' +
                        '<div class="col-sm-1">' +
                        '<input type="text" class="form-control" placeholder="Сортировка" value="' + Obj.sort + '">' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<div class="material-switch pull-right">' +
                        '<input id="brendstatus' + Obj.id + '" name="someSwitchOption001" type="checkbox" ' + status + '/>' +
                        '<label for="brendstatus' + Obj.id + '" class="label-success"></label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-1">' +
                        '<a class="btn btn-block btn-success">V</a>' +
                        '</div>' +
                        '<div class="col-sm-1">' +
                        '<a class="btn btn-block btn-danger mydelete">X</a>' +
                        '</div></div></form></div></div></div>');
            }
            $(document).ready(function () {
               
                 $.post("/admin/sectioncomand/getsections", {}, function (data) {
                  datasection = JSON.parse(data); 
                   for (index in datasection)
                       {
                         $(".nav-tabs").append(getNavTabLi(datasection[index]));
                         $(".tab-content").append(getSectionSection(datasection[index]));
                         
                       }
                       
                       $(".nav-tabs").find("li").first().addClass("active");
                       $(".tab-pane").first().addClass("active");
                         $.post("/admin/brendscomand/getbrends", {}, function (data) {
                            databrends = JSON.parse(data); 
                            
                            for (indexbr in databrends)
                                 {
                                    
                                      obj = databrends[indexbr];
                                     // console.log(obj);
                                      obj.status = parseInt(obj.status);
                                      $("#section" + obj.section).find(".section").first().append(getSectionBrend(obj));
                                        
                                 }
                        })
                 })
                 
                 
                
                
                
                $("#listbrends").click(function (e) {
                    if (!$(e.target).hasClass("mydelete")) {
                        console.log("нажали редактировать");
                        return true;
                    }
                        
                    id = parseInt($(e.target).parents("div.brendcontainer").attr("data-id"));
                     $.post("/admin/brendscomand/delbrends",
                            {"id": JSON.stringify(id)}, function (data) {
                             
                          if(data === "Ok")
                          {
                                 for (index in databrends)
                                {
                                    if (databrends[index].id === id)
                                    {
                                        delete databrends[index];
                                    }
                                }
                                delcontainer = $(e.target).parents("div.brendcontainer").first();
                                delcontainer.fadeOut("slow", function () {
                                    this.remove();
                                });
                          }
                          ;
                      });
                      
                   
                });
                
                
                $("#addbrend").click(function () {
                    
                    obj = new Brends(0,
                        $("#brendnewname").val(),
                        parseInt($("#brendnewsection").val()),
                        $("#brendnewsort").val(),
                        $("#brendnewstatus").is(":checked")
                        );
                
                $.post("/admin/brendscomand/addbrends", {"obj": JSON.stringify(obj)}, function (data) {
                    result = JSON.parse(data);
                   // console.log(result.result);
                    if(result.result === "Ok") 
                    {
                        newId = result.id;
                        obj = new Brends(newId,
                             $("#brendnewname").val(),
                             $("#brendnewsection").val(),
                             $("#brendnewsort").val(),
                             $("#brendnewstatus").is(":checked")
                        );
                        databrends.push(obj);
                       $("#section" + obj.section).find(".section").append(getSectionBrend(obj));
                    }
                });

                });
            });
        </script>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li>
                                 <a href="/admin/colorandsize">Цвета и размеры</a>
                            </li>
                            <li>
                                <a href="/admin/section">Секции</a>
                            </li>
                            <li class="active">
                                <a href="/admin/brends">Бренды</a>
                            </li>
                            <li>
                                <a href="/admin/category">Категории</a>
                            </li>
                            <li>
                                <a href="/admin/products">Товары</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">

                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="listbrends">

                </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="id" disabled="">
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="brendnewname" placeholder="Название бренда">
                                        </div>
                                         
                                        <div class="col-sm-1">
                                            <input type="text" class="form-control" id="brendnewsort" placeholder="Сортировка">
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="material-switch pull-right">
                                                <input id="brendnewstatus" name="someSwitchOption001" type="checkbox"/>
                                                <label for="brendnewstatus" class="label-success"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                    <input type="text" class="form-control" placeholder="Секция" id="brendnewsection">
                                                 </div>
                                        <div class="col-sm-1">
                                            <a class="btn btn-block btn-success" id="addbrend">V</a>
                                        </div>
                                        <div class="col-sm-1">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body></html>