<html>
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/views/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/views/js/bootstrap.min.js"></script>
        <link href="/views/admin/css/style.css" rel="stylesheet" type="text/css">
        <link href="/views/admin/css/checkbox.css" rel='stylesheet' type="text/css">
        <script type="text/javascript" src="/views/js/datajs.js"></script>
        <title>Редактирование категорий</title>
        <script>
            function getNavTabLi(Obj)
            {
                return $('<li data-id="' + Obj.id + '">' +
                        '<a href="#section' + Obj.id + '" data-toggle="tab">' + Obj.name + '</a>' +
                        '</li>');

            }
            function getSectionSection(Obj)
            {
                return $('<div class="tab-pane" id="section' + Obj.id + '">' +
                        '<div class="section"></div>' +
                        '</div>');
            }
            function getSectionCategory(Obj)
            {
               status = Obj.status === 1 ? "checked" : "";
                return $('<div class="catcontainer"  data-id="' + Obj.id + '">' +
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<form class="form-horizontal" role="form">'+
                                            '<div class="form-group">'+
                                                '<div class="col-sm-2">'+
                                                    '<input type="text" class="form-control" placeholder="id" disabled="" value="'+Obj.id+'">'+
                                                '</div>'+
                                                '<div class="col-sm-5">'+
                                                    '<input type="text" class="form-control" placeholder="Название категории" value="'+Obj.name+'">'+
                                                '</div>'+
                                                '<div class="col-sm-1">'+
                                                    '<input type="text" class="form-control" placeholder="Сортировка" value="'+Obj.sort+'">'+
                                                '</div>'+
                                                '<div class="col-sm-2">'+
                                                    '<div class="material-switch pull-right">'+
                                                        '<input id="categorystatus1" name="someSwitchOption001" type="checkbox" '+status+'/>'+
                                                        '<label for="categorystatus1" class="label-success"></label>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="col-sm-1">'+
                                                    '<a class="btn btn-block btn-success myredact">V</a>'+
                                                '</div>'+
                                                '<div class="col-sm-1">'+
                                                    '<a class="btn btn-block btn-danger mydelete">X</a>'+
                                                '</div></div></form></div></div></div>'
                        ); 
            }
            $(document).ready(function () {
                
               $("#addcategory").click(function() {
                 
                 
                obj = new Category(0,
                        $("#categorynewname").val(),
                        parseInt($("#categorynewsection").val()),
                        parseInt($("#categorynewsort").val()),
                        $("#categorynewstatus").is(":checked")
                        );
            
                $.post("/admin/categorycomand/addcategory", {"obj": JSON.stringify(obj)}, function (data) {
                    result = JSON.parse(data);
                   // console.log(result.result);
                    if(result.result === "Ok") 
                    {
                        newId = result.id;
                        
                        obj = new Category(newId,
                             $("#categorynewname").val(),
                             $("#categorynewsection").val(),
                            $("#categorynewsort").val(),
                            $("#categorynewstatus").is(":checked")
                        );
                        datacategory.push(obj);
                       $("#section" + obj.section).find(".section").append(getSectionCategory(obj));
                    }
                });
            });
            
            
                 $("#listcategories").click(function (e){
                     // console.log("проверка");
                   if ($(e.target).hasClass("mydelete")) 
                   {
                      
                      delcontainer = $(e.target).parents("div.catcontainer");
                       
                      id = parseInt(delcontainer.attr("data-id")); 
                      console.log(id);
                      $.post("/admin/categorycomand/delcategory",
                            {"id": JSON.stringify(id)}, function (data) {
                             
                          if(data === "Ok")
                          {
                              console.log(data);   
                               for (index in datacategory) 
                               {                       
                                    if (datacategory[index].id === id) 
                                    {                           
                                        delete datacategory[index];
                                    }
                                }  
                                delcontainer.fadeOut("slow",function (){
                                    this.remove();
                                });
                          }
                          ;
                      });
                   } else if ($(e.target).hasClass("myredact")) {
                       redactcontainer = $(e.target).parents("div.catcontainer");
                       id = parseInt(redactcontainer.attr("data-id"));
                       obj = new Section(id,$("#name"+id).val(), parseInt($("#sort"+id).val()),$("status"+id).is(":checked"));
                       $.post("/admin/sectionCategorycomand/redact", {"id": JSON.stringify(id)}, function (data) {
                           console.log("проверка");
                       });
                   };
                      
               });
               
                 $.post("/admin/sectioncomand/getsections", {}, function (data) {
                  datasection = JSON.parse(data); 
                   for (index in datasection)
                       {
                         $(".nav-tabs").append(getNavTabLi(datasection[index]));
                         $(".tab-content").append(getSectionSection(datasection[index]));
                         
                       }
                       
                       $(".nav-tabs").find("li").first().addClass("active");
                       $(".tab-pane").first().addClass("active");
                       
                         $.post("/admin/categorycomand/getcategory", {}, function (data) {
                            datacat = JSON.parse(data); 
                            
                            for (indexcat in datacat)
                                 {
                                    
                                      obj = datacat[indexcat];
                                     // console.log(obj);
                                      obj.status = parseInt(obj.status);
                                      $("#section" + obj.section).find(".section").first().append(getSectionCategory(obj));
                                        
                                 }
                        });
                 });
                 
              
                 
               
              
            });
        </script>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="/admin/colorandsize">Цвета и размеры</a>
                            </li>
                            <li>
                                <a href="/admin/section">Секции категорий</a>
                            </li>
                            <li>
                                <a href="/admin/brends">Бренды</a>
                            </li>
                            <li class="active">
                                <a href="/admin/category">Категории</a>
                            </li>
                            <li>
                                <a href="/admin/products">Товары</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="listcategories">
                    
                </div>
                <div class="section" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" placeholder="id" disabled="">
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" placeholder="Название категории" id="categorynewname">
                                                </div>
                                                <div class="col-sm-1">
                                    <input type="text" class="form-control" placeholder="Секция" id="categorynewsection">
                                                 </div>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Сортировка" id="categorynewsort">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="material-switch pull-right">
                                                        <input name="someSwitchOption001" type="checkbox" id="categorynewstatus"/>
                                                        <label for="categorynewstatus" class="label-success"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <a class="btn btn-block btn-success" id="addcategory">V</a>
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>


    </body></html>