<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/views/js/jquery.min.js"></script>
    <script type="text/javascript" src="/views/js/bootstrap.min.js"></script>
    
    <link href="/views/admin/css/style.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <form class="form-horizontal" role="form" method="post" action="/admin/enter">
              <div class="form-group has-warning">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Почта</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control input-lg" id="inputEmail3" name="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group has-warning">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Пароль</label>
                </div>
                <div class="col-sm-10">
                    <input type="password" class="form-control input-lg" id="inputPassword3" name="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button  type="submit" class="btn btn-warning" name="buttonenter">Войти</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  

</body></html>