<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
     <!--{include file='head.tpl'}--> 
<body> 
<!--{include file="header.tpl"}-->
  
<div class="container">
		<div class="content-top-blue">
		<h2 class="new">NEW ARRIVALS</h2>
			<div class="pink">
				<div class="col-md-3 blue">	
					<a href="single" > <img src="views/images/ph.jpg" class="img-responsive" alt=""></a>			 	
					<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
				</div>
				<div class="col-md-3 blue">		
					<a href="single" > <img src="views/images/ph1.jpg" class="img-responsive" alt=""></a>		 	
					<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
				</div>
				<div class="col-md-3 blue">
					 <a href="single" > <img src="views/images/ph2.jpg" class="img-responsive" alt=""></a>		 	
						<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
				</div>
				<div class="col-md-3 blue">
					<a href="single" > <img src="views/images/ph3.jpg" class="img-responsive" alt=""></a>			 	
					<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
				</div>
				<div class="clearfix"> </div>
		</div>
		<div class="pink">
			<div class="col-md-3 blue">
				 <a href="single" > <img src="views/images/ph4.jpg" class="img-responsive" alt=""></a>		 	
				<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
			</div>
			<div class="col-md-3 blue">
				 <a href="single" > <img src="views/images/ph5.jpg" class="img-responsive" alt=""></a>			 	
				<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
			</div>
			<div class="col-md-3 blue">
				<a href="single" > <img src="views/images/ph.jpg" class="img-responsive" alt=""></a>	 	
				<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
			</div>
			<div class="col-md-3 blue">
				<a href="single" > <img src="views/images/ph7.jpg" class="img-responsive" alt=""></a>		 	
				<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" >123 $ <i> </i> </span></a>					
						</div>
					<!---->
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
		<!---->

</div>
<!--{include file="footer.tpl"}-->
</body>
</html>